/* style.scss */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    &.open {
        transform: translateX(0);
    }
}

.sidebar-content {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}